
body {
 background-image: url(../escola/fundo\ do\ planer.jfif);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 color: rgb(17, 95, 69);
 background-color: aquamarine;
}

a{
    color: rgb(17, 95, 69);
    text-decoration: overline;
}